In [1]:
import pandas as pd

In [14]:
table1 = pd.read_csv('ONE.csv')

In [15]:
table1

     Chromosome     Begin       End     Element Strand     id
0    CM017604.2    335908    338095      Helena      +   RM38
1    CM017604.2   1614563   1616268  Polyphemus      -   RM22
2    CM017604.2   3607934   3609665       Paris      -     T9
3    CM017604.2   4447305   4449012  Polyphemus      -    RM2
4    CM017604.2   4463902   4465633       Paris      -    T30
..          ...       ...       ...         ...    ...    ...
310  CM017608.2   9257943   9259650  Polyphemus      +  RM267
311  CM017608.2  14334469  14335224  Polyphemus      -   T117
312  CM017608.2  25291861  25293890  Polyphemus      -  RM290
313  CM017608.2  25607060  25608768  Polyphemus      -    T35
314  CM017609.2   1191303   1193686       Paris      +  RM307

[315 rows x 6 columns]

In [16]:
table2 = pd.read_csv('TWO.csv')

In [76]:
table2 = table2.rename(columns = {'X..of.canonical.copy':'Percent_of_canon'})

In [77]:
table2

     Length  Percent_of_canon        Chromatin     id
0      2187          0.805525      Euchromatic   RM38
1      1705          0.998244      Euchromatic   RM22
2      1731          1.000578      Euchromatic     T9
3      1707          0.999415      Euchromatic    RM2
4      1731          1.000578      Euchromatic    T30
..      ...               ...              ...    ...
310    1707          0.999415      Euchromatic  RM267
311     755          0.442037      Euchromatic   T117
312    2029          1.187939  Heterochromatic  RM290
313    1708          1.000000  Heterochromatic    T35
314    2383          1.377457  Heterochromatic  RM307

[315 rows x 4 columns]

Загрузим данные: первая табличка - транспозон, его положение на хромосоме, ориентация и текстовый идентификатор из программы, сохраненный как имя

In [67]:
import sqlite3

In [68]:
connection = sqlite3.connect('transposons.db')

In [70]:
connection.execute('''CREATE TABLE IF NOT EXISTS Elements (Element_id INTEGER PRIMARY KEY AUTOINCREMENT, Chromosome TEXT, Begin INTEGER, End INTEGER, Element TEXT, Strand TEXT, Name TEXT)''')

In [72]:
for row in table1.itertuples():
    Chr = row.Chromosome
    Begin = row.Begin
    End = row.End
    Element = row.Element
    Strand = row.Strand
    Id = row.id
    connection.execute('INSERT INTO Elements (Chromosome, Begin, End, Element, Strand, Name) VALUES (?,?,?,?,?,?)', (Chr, Begin, End, Element, Strand, Id))
connection.commit()

Вторая табличка - для каждого транспозона длина и процент длины от канонической копии, а также структура хроматина в месте его локализации.

In [74]:
connection.execute('''CREATE TABLE IF NOT EXISTS Details (Details_id INTEGER PRIMARY KEY AUTOINCREMENT, Length INTEGER, Percent_of_canon INTEGER, Chromatin TEXT, Name TEXT)''')

In [78]:
for row in table2.itertuples():
    Lenght = row.Length
    Percent = row.Percent_of_canon
    Chromatin = row.Chromatin
    Id = row.id
    connection.execute('INSERT INTO Details (Length, Percent_of_canon, Chromatin, Name) VALUES (?,?,?,?)', (Lenght, Percent, Chromatin, Id))
connection.commit()

Теперь свяжем таблички:

In [80]:
connection.execute('''CREATE TABLE IF NOT EXISTS Elements_with_chromatin (Link_id INTEGER PRIMARY KEY AUTOINCREMENT, 
Name TEXT, 
Chromatin TEXT,
FOREIGN KEY (Name) REFERENCES Elements(Name),
FOREIGN KEY (Chromatin) REFERENCES Details(Chromatin))''')

Заполним табличку:

In [86]:
Name = table1['id']
Chromatin = table2['Chromatin']

In [84]:
for row in range(315):
    connection.execute('INSERT INTO Elements_with_chromatin (Name, Chromatin) VALUES (?,?)', (Lenght, Percent, Chromatin, Id))
connection.commit()

0          Euchromatic
1          Euchromatic
2          Euchromatic
3          Euchromatic
4          Euchromatic
            ...
310        Euchromatic
311        Euchromatic
312    Heterochromatic
313    Heterochromatic
314    Heterochromatic
Name: Chromatin, Length: 315, dtype: object